<body>
<table>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Order</th>
    </tr>
    {{#each inventory}}
        <tr>
            <td>{{name}}</td>
            <td>{{stock}}</td>
            <td>
                <form method="POST" id="ITEM{{id}}" action="/order/{{id}}">
                    <button>Buy</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
